{% for animal in animals %}
  <div class="col-4">
    <div class="card" style="width: 20rem;">
      <img src="{{ vich_uploader_asset(animal.image, 'imageFile') }}" alt="{{ animal.name }}" height="150" />
      <div class="card-body">
        <h2 class="card-title">{{ animal.name }}</h2>
        <h4 class="card-subtitle">Race : {{ animal.race }}</h4>
        {# <a href="{{ path('app_gallery_animal', {id: animal.id}) }}" class="btn btn-primary">Voir l'animal</a> #}
      </div>
    </div>
  </div>
  {% else %}
    <div class="col-12">
      <p>No animals in this habitat</p>
  {% endfor %}