
<footer>
    <div class="informations py-5 px-3">
        <div class="row">
            <div class=" col-md-6 col-lg-4 text-center mx-auto">
                <a href=""></a><img src="" alt="icon position"></a>
                <p>35380 Paimpont</p>
                <a href=""></a><img src="" alt="icon telephone"></a>
                <p>+33 02 99 00 00 00</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="d-flex justify-content-center" href=""><button class="btn btn-secondary" type="button">CONTACTER</button></a>
                <div class="my-3 d-flex justify-content-center">
                    <a class="mx-2" href=""><img src={{ asset('images/logos/logo-1.png') }} height="30" alt="icon facebook"></a>
                    <a class="mx-2" href=""><img src={{ asset('images/logos/logo-1.png') }} height="30" alt="icon twitter"></a>
                    <a class="mx-2" href=""><img src={{ asset('images/logos/logo-1.png') }} height="30" alt="icon instagram"></a>
                </div>
            </div>
            <div class=" col-md-8 col-lg-4 mx-auto">
                <h3 class="text-center py-3 mx-auto footer-box">Nos partenaires</h3>
                <div class="d-flex justify-content-center mt-4">
                    <a class="mx-2" href=""><img src={{ asset('images/logos/2.png') }} height="100" class="partner" alt="logo partenaire"></a>
                    <a class="mx-2" href=""><img src={{ asset('images/logos/3.png') }} height="100" class="partner" alt="logo partenaire"></a>
                    <a class="mx-2" href=""><img src={{ asset('images/logos/4.png') }} height="100" class="partner" alt="logo partenaire"></a>
            </div>
        </div>    
    <div class="navlinks">
      <ul class="nav d-flex flex-wrap justify-content-center border-bottom pb-3 my-5">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Accueil</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Nos  services</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Nos habitats</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contacter</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">A Propos</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mention légales</a></li>
      </ul>
      <p class="text-center text-body-secondary">© Copyright 2024 Arcadia</p>
    </div>
</footer>
  
  