
<nav class="navbar navbar-expand-lg" data-bs-theme="">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_index') }}"><img src={{ asset('images/logos/logo-1.png') }} alt="Arcadia zoo logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mx-auto text-center ms-auto">
          <li class="nav-item">
          <a class="nav-link active" href="{{path('app_index')}}">Accueil
              <span class="visually-hidden">(current)</span>
          </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path('app_gallery') }}">Le Zoo et les animaux</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{path('app_services')}}">Services</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
          </li>
      </ul>

      <div class="text-end">
        {% if app.user %}
          <div class="d-flex">
            <li class="mx-2">
              <a class="btn btn-secondary my-sm-0" href="{{path('admin')}}">Tableau de bord</a>
            </li>
            <li>
              <a class="btn btn-secondary my-sm-0" href="{{path('app_logout')}}" type="submit">Deconnexion</a>
            </li>
          </div>
        {% else %}
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-light me-2 button-28">Login</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
