{% extends 'base.html.twig' %}
{# {% block title %}Détails de l'habitat {{ habitat.name }}{% endblock %} #}
<section>
  <a href="{{ path('app_gallery') }}" class="btn btn-primary mx-auto">Retour</a>
  <div class="container">
      <h1>Decouvrez l'habitat</h1>
      <div class="card" style="width: 20rem;">
        <img src="https://www.w3.org/html/logo/downloads/HTML5_sticker.png" class="card-img-top" alt="Accroche HTML">
        <div class="card-body">
            {# <h2 class="card-title">{{ animal.name }}</h2>
            <h3 class="card-subtitle">Race : {{ animal.race }}</h3>
            <h3 class="card-subtitle">Habitat : {{ animal.habitat }}</h3>
            <p class="card-text">{{ animal.description }}</p>
            <a href="{{ path('app_gallery') }}" class="btn btn-primary">Retour</a> #}
        </div>
      </div>
    </div>
  </section>